doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='/javascripts/loader.js')
		//script.
		//	var CLOSURE_NO_DEPS = true;
		//	var CLOSURE_BASE_PATH = "/";
		//script(src='closure-library/closure/goog/base.js')
		//script(src='deps.js')
		//script.
		//	goog.require("Falarica.Init");
